<div class="container">
  <div class="page-header">
    <h1>Sign-up</h1>
  </div>
  <div class="page-content">
    <form>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="example@domain.com">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
        <button class="btn btn-secondary">Register</button>
    </form>
  </div>
</div>
