<div class="container">
  <div class="page-header">
    <h2>Update Task</h2>
  </div>
  <div class="page-content">
    <form>
      <div class="mb-3">
        <label class="form-label">Task</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="task.title" placeholder="Insert your task here">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="task.description" placeholder="Add a description to your task" ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label>
        <br/><select  name="status" [(ngModel)]="task.status">
          <option value="TODO">To do</option>
          <option value="DOING">Doing</option>
          <option value="DONE">Done</option>
        </select>
      </div>

      <div class="submit d-flex justify-content-around">
        <button class="btn btn-secondary" (click)="updateTask()">Save</button>
        <button class="btn btn-secondary" (click)="deleteTask()">Delete</button>
        <button class="btn btn-secondary" routerLink="/list-tasks">Cancel</button>
      </div>
    </form>
  </div>

</div>
