<div class="container">
  <div class="title">
    <h2>Project title</h2>
  </div>
  <div class="card-group">

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">To do</h5>
        </div>
        <div class="card-body">
          <div *ngFor="let task of listTask">
            <div class="d-grid gap-2" *ngIf="checkStatus(task, StatusEnum.TODO)">
              <button class="btn btn-light" type="button" routerLink="/update-task/{{task.id}}">{{task.title}}</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" routerLink="/create-task/TODO">Add new task</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Doing</h5>
        </div>
        <div class="card-body">
          <div *ngFor="let task of listTask">
            <div class="d-grid gap-2" *ngIf="checkStatus(task, StatusEnum.DOING)">
              <button class="btn btn-light" type="button" routerLink="/update-task/{{task.id}}">{{task.title}}</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" routerLink="/create-task/DOING">Add new task</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Done</h5>
        </div>
        <div class="card-body">
          <div *ngFor="let task of listTask">
            <div class="d-grid gap-2" *ngIf="checkStatus(task, StatusEnum.DONE)">
              <button class="btn btn-light" type="button" routerLink="/update-task/{{task.id}}">{{task.title}}</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" routerLink="/create-task/DONE">Add new task</button>
        </div>
      </div>

  </div>
</div>
