<div class="container">
  <div class="page-header">
    <h2>New Task</h2>
  </div>
  <div class="page-content">
    <form>
      <div class="mb-3">
        <label class="form-label">Task</label>
        <input type="text" class="form-control" name="title" placeholder="Insert your task here">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5" name="description" placeholder="Add a description to your task" ></textarea>
      </div>
      <div class="submit d-flex justify-content-around">
        <button class="btn btn-secondary">Add</button>
        <button class="btn btn-secondary" routerLink="/list-tasks">Cancel</button>
      </div>
    </form>
  </div>

</div>
